.tour {
  header {
    @include center(981px, 50px auto 0 auto);
    height: 200px;
    background-image: linear-gradient(to bottom, $overlay, $overlay),
      url(../images/tours-header.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      text-transform: uppercase;
      color: $white;
      font-family: Proxima;
      font-size: 60px;
    }
  }

  .tours {
    @include center(818px, 48px auto 100px auto);
    min-height: 200px;
    //background-color: crimson;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .tourPromo {
      height: 304px;
      width: 236px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      color: $white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      //background-color: cyan;
      margin-bottom: 55px;

      .header {
        margin: 0 auto;
        //margin-top: 50px;
        font-family: ProximaThin;
        font-size: 60px;
        margin-bottom: 15px;
      }
  
      .header2 {
        margin: 0 auto;
        //margin-top: 50px;
        font-family: ProximaThin;
        font-size: 40px;
        margin-bottom: 15px;
      }
  
      .price {
        margin-bottom: 70px;
        text-align: center;
        text-decoration: none;
        color: $white;
        font-family: ProximaThin;
        font-size: 30px;
      }

      .promoBtn {
        @include siteButton(15px 25px, 25px);
        color: $white;
        text-align: center;
        font-size: 15px;
        border: none;
        white-space: nowrap;
        font-family: Gill;
      }

      a {
        text-decoration: none;
      }
    }

    .israel {
      background-image: linear-gradient(to right, $overlay, $overlay), 
        url(../images/tours/tour-01.jpg);
    }

    .usa {
      background-image: linear-gradient(to right, $overlay, $overlay), 
        url(../images/tours/tour-02.jpg);
    }

    .australia {
      background-image: linear-gradient(to right, $overlay, $overlay), 
        url(../images/tours/tour-03.jpg);
    }

    .nz {
      background-image: linear-gradient(to right, $overlay, $overlay), 
        url(../images/tours/tour-04.jpg);
    }

    .france {
      background-image: linear-gradient(to right, $overlay, $overlay), 
        url(../images/tours/tour-05.jpg);
    }

    .egypt {
      background-image: linear-gradient(to right, $overlay, $overlay), 
        url(../images/tours/tour-06.jpg);
    }

    .japan {
      background-image: linear-gradient(to right, $overlay, $overlay), 
        url(../images/tours/tour-07.jpg);
    }

    .canada {
      background-image: linear-gradient(to right, $overlay, $overlay), 
        url(../images/tours/tour-08.jpg);
    }

    .uae {
      background-image: linear-gradient(to right, $overlay, $overlay), 
        url(../images/tours/tour-09.jpg);
    }
  }
}

@media all and (max-width: 1200px) {
  .tour {
    padding: 20px;
    .tours {
      flex-direction: column;
      align-items: center;
    }
  }
}
